In [26]:
Introduction to number:

SyntaxError: invalid syntax (1175045426.py, line 1)

In [12]:
number=123
print(number)

123

In [13]:
type(number)

int

In [14]:
num2=0.1
print(num2)

0.1

In [15]:
type(num2)

float

In [25]:
introduction: to list datatype:
 Defination: A list is a collection of items defined in a particular order.
classification: It is classified as mutable datatype (wich we can edit/alter)
How to define the list datatype :[] #squre brackets.

SyntaxError: invalid syntax (4120961759.py, line 1)

In [36]:
students=['arpita','ashwini','asma','bhavan','david','kartik']
print(students)

['arpita', 'ashwini', 'asma', 'bhavan', 'david', 'kartik']

In [37]:
 type(students)

list

In [24]:
introduction to indexing:0,1,2,3,4,5,6...............

SyntaxError: invalid syntax (4019442302.py, line 1)

In [ ]:
# req:i want to access ashwini name in output....?

In [38]:
print (students[1])

ashwini

In [39]:
print(students[1].title())

Ashwini

In [ ]:
# req: i want to access bhahvan name in th op.........?

In [40]:
print (students[3].title())

Bhavan

In [ ]:
how to add new elements to the list
how to modify the elements in th list
how to delete the elements in the list.

In [41]:
print(students)

['arpita', 'ashwini', 'asma', 'bhavan', 'david', 'kartik']

In [ ]:
# req i want to add shafi name in the abovelist...

In [42]:
students.append('shafi')
print(students)

['arpita', 'ashwini', 'asma', 'bhavan', 'david', 'kartik', 'shafi']

In [ ]:
# req i want to add venket to the above list.

In [45]:
students.append('venkat')
print(students)

['arpita', 'ashwini', 'asma', 'bhavan', 'david', 'kartik', 'shafi', 'venkat']

In [ ]:
# req i want to add kaleem at 2nd position.

In [46]:
students.insert(2,'kaleem')
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhavan', 'david', 'kartik', 'shafi', 'venkat']

In [47]:
print(students[2])

kaleem

In [ ]:
# interview questions: what is the diff btw append and insert methods in a list datatype........?

In [48]:
  print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhavan', 'david', 'kartik', 'shafi', 'venkat']

In [ ]:
# req i want to modify arpita name to anand....

In [49]:
students[0]="Anand"
print(students)

['Anand', 'ashwini', 'kaleem', 'asma', 'bhavan', 'david', 'kartik', 'shafi', 'venkat']

In [ ]:
# req i want to delete ashwini name in the above list .....?

In [50]:
del students[1]
print (students)

['Anand', 'kaleem', 'asma', 'bhavan', 'david', 'kartik', 'shafi', 'venkat']